// colors

$color-1: #fce1e4; // Pale Pink
$color-2: #daeaf6; // Alice Blue
$color-3: #fcf4dd; // Yellow Pastel
$color-4: #835531; // Potters Clay
$color-5: #262423; // Dune
$color-6: #ffffff; // White

// fonts 

$primary-font: 'PT Sans', sans-serif;
$secondary-font: 'Merriweather', serif;

// Number of projects 

$items: 3;